@model EditCommentVM

@{
    ViewData["Title"] = "Edycja komentarza";
}

<h2>Edytuj komentarz</h2>
<p>autor: @Model.Author</p>

<div asp-validation-summary="All" class="text-danger"></div>

<form asp-action="Edit" method="post">
    <input type="hidden" asp-for="OriginalComment" value="@Model.OriginalComment" />
    <input type="hidden" asp-for="Author" value="@Model.Author" />
    <div class="form-group">
        <label asp-for="Body">Treść komentarza:</label>
        <textarea asp-for="Body" class="form-control"></textarea>
    </div>
    <button class="btn btn-success">Zapisz zmiany</button>
</form>