
@{
    ViewData["Title"] = "Administracja";
}

<br /><a class="btn btn-info" asp-action="Users">Zarządzaj użytkownikami</a>
<br /><a class="btn btn-info" asp-action="Recipes">Zarządzaj przepisami</a>
<br /><a class="btn btn-info" asp-action="Comments">Zarządzaj komentarzami</a>