@model NewCommentVM

<form asp-controller="Comment" asp-action="Add" method="post">
    <input asp-for="Author" type="hidden" value="@Model.Author" />
    <input asp-for="Recipe" type="hidden" value="@Model.Recipe" />
    <div class="form-group">
        <label asp-for="Body">Treść komentarza:</label> <br/>
        <textarea asp-for="Body"></textarea>
    </div>
    <button class="btn add-comment-button" type="submit">Dodaj komentarz</button>
</form>
