@model Recipe

<div>
    <h2>@Model.Name</h2>    
    <p>@Model.Description</p>
    <a asp-controller="Recipe" asp-action="Details" asp-route-id="@Model.RecipeID" class="btn btn-primary">Zobacz więcej</a>
</div>
<br />
<hr />