@model IEnumerable<Recipe>

@{
    ViewData["Title"] = "Home Page";
}


@foreach (var recipe in Model)
{
    <div>
        <h3>@recipe.Name</h3>
        <h4>Kategoria: @recipe.CategoryId, poziom trudności: @recipe.DiffLevelId</h4>
        <p>@recipe.Body</p>
    </div>
}