@model EditRecipeVM

@{
    ViewData["Title"] = "Edycja przepisu";
}

<h2>Edytuj przepis</h2>

<div asp-validation-summary="All" class="text-danger"></div>

<form asp-action="Edit" method="post">
    <input type="hidden" asp-for="OriginalRecipe" value="@Model.OriginalRecipe" />
    <div class="form-group">
        <label asp-for="DifficultyLevel" class="control-label">Poziom trudności wykonania:</label>
        <select asp-for="DifficultyLevel" class="form-control" asp-items="ViewBag.DifficultyLevels"></select>
    </div>
    <div class="form-group">
        <label asp-for="Name">Nazwa:</label>
        <input asp-for="Name" class="form-control">
    </div>
    <div class="form-group">
        <label asp-for="Body">Treść:</label>
        <textarea asp-for="Body" class="form-control"></textarea>
    </div>
    <div class="form-group">
        <label asp-for="Category" class="control-label">Kategoria</label>
        <select asp-for="Category" class="form-control" asp-items="ViewBag.Categories"></select>
    </div>
    <div class="form-group">
        <label asp-for="Tags" class="control-label">Tagi</label>
        <textarea asp-for="Tags" class="form-control"></textarea>
    </div>

    <button class="btn btn-success">Zapisz zmiany</button>
    <a class="btn btn-danger" asp-controller="Administration" asp-action="Recipes">Anuluj</a>
</form>

