@model WebAppUser

@{
    ViewData["Title"] = "Profil użytkownika";
}

<h2>Profil użytkownika @Model.Email</h2>

<h3>Dodane przepisy:</h3>
<ul>
    @foreach (var recipe in Model.Recipes)
    {
        <li><a asp-controller="Recipe" asp-action="Details" asp-route-id="@recipe.RecipeID">@recipe.Name</a></li>
    }
</ul>