<a asp-controller="Account" asp-action="Register" class="btn signup-button navbar-btn" style="margin-left:5px; float:right">
    Rejestracja
</a>
<a asp-controller="Account" asp-action="Login" class="btn login-button navbar-btn" style="float:right">
    Zaloguj się
</a>