@model WebAppUser

<p class="navbar-text" style="color:white">Witaj @Model.Email</p>
<a asp-controller="Account" asp-action="Details"asp-route-id="@Model.Id" class="btn login-button navbar-btn" style="margin-left:5px; float:right">
    <i class="far fa-user"></i> Twój profil
</a>
<a asp-controller="Account" asp-action="Logout" class="btn signup-button navbar-btn" style="float:right">
    Wyloguj się
</a>
